@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300;400&display=swap");

/* General Style Rules */
:root {
  --background-color: #00001e;
  --text-color: #fcfffc;
  --accent-color: #ff2151;
  --nav-height: 4rem;
  --nav-width: 4rem;
  background-color: var(--background-color);
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  box-sizing: border-box;
}

/* Titles and headings */
h1 {
  font-family: "Bebas Neue", sans-serif;
  color: var(--text-color);
  font-size: 3rem;
  font-size: clamp(3rem, 2.1rem + 4.5vw, 7.5rem);
  word-spacing: 100vw;
  line-height: 1.2;
  margin: 1.5rem 0 1rem 0;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  color: var(--text-color);
  font-weight: 300;
  font-size: 2rem;
  font-size: clamp(2rem, 1.7rem + 1.5vw, 3.5rem);
  line-height: 1.2;
  margin: 1.5rem 0;
}

/* Text */
p,
span {
  margin: 1.5rem 0;
  font-family: "Montserrat", sans-serif;
  color: var(--text-color);
  font-weight: 500;
  font-size: 1rem;
  font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
  line-height: 1.5;
}

/* Button */
.button {
  width: calc(var(--nav-height) - 2.5rem);
  height: calc(var(--nav-height) - 2.5rem);
}

/* Logo */
#logo {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
}

#logo,
#logo img {
  width: var(--nav-height);
  height: var(--nav-height);
}

/* Scroll notification */
#scroll-notification {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 2rem;
  height: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 500ms;
}

#scroll-notification span {
  writing-mode: vertical-lr;
  margin: 0;
  height: 7rem;
}

#scroll-notification .vertical-bar {
  height: 5rem;
  width: 0.125rem;
  background-color: var(--text-color);
}

#scroll-notification.active {
  animation: slide-down reverse 500ms;
  opacity: 1;
}

#scroll-notification:not(.active) {
  animation: slide-down 500ms;
  opacity: 0;
}

@keyframes slide-down {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/* Navigation */
#menu-bar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--nav-height);
  width: 100vw;
  z-index: 2;
  background-color: var(--background-color);
}

#menu-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 500ms;
  cursor: pointer;
}

.bar {
  width: 100%;
  height: 0.25rem;
  background-color: var(--text-color);
  transition: all 500ms;
}

#menu-button.active .top {
  transform: translateY(10px) rotateZ(45deg);
}

#menu-button.active .middle {
  width: 0;
}

#menu-button.active .bottom {
  transform: translateY(-10px) rotateZ(-45deg);
}

#menu-dropdown {
  grid-area: main-content;
  position: absolute;
  margin: var(--nav-height) 0 0 0;
  width: 0;
  height: calc(100vh - var(--nav-height));
  overflow-x: hidden;
  z-index: 3;
  background-color: var(--accent-color);
  background-image: linear-gradient(
    -180deg,
    var(--background-color) 0%,
    var(--accent-color) 75%
  );
  transition: all 500ms;
}

#menu-dropdown.active {
  width: 100%;
  transition: all 500ms;
}

#menu-list {
  height: calc(100% - var(--nav-height) * 2);
  display: flex;
  flex-direction: column;
  padding: var(--nav-height);
  justify-content: center;
  align-items: center;
  transition: all 500ms;
}

#menu-list > div {
  width: 100%;
  text-align: center;
  margin: 0 0 2rem 0;
}

#menu-list > div > a {
  position: relative;
  color: var(--text-color);
  text-decoration: none;
  font-size: clamp(1.5rem, 1.125rem + 1.6667vw, 2rem);
  font-family: "Montserrat", sans-serif;
  font-size: 300;
  transition: all 500ms;
}

#menu-list > div > a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--text-color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

#menu-list > div > a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#menu-dropdown:not(.active) a {
  margin-left: 2rem;
}

#side-nav {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  z-index: 2;
}

#side-nav > a {
  height: 0.25rem;
  width: 1rem;
  background-color: #fff;
  margin: 1rem 0;
}

#side-nav > a.active {
  animation: expand 500ms;
  width: 1.5rem;
}

#side-nav > a:hover {
  animation: expand 500ms;
  width: 1.5rem;
}

#side-nav > a:not(:hover):not(.active) {
  animation: retract 500ms;
}

@keyframes expand {
  from {
    width: 1rem;
  }

  to {
    width: 1.5rem;
  }
}

@keyframes retract {
  from {
    width: 1.5rem;
  }

  to {
    width: 1rem;
  }
}

/* Content */
main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

section {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  min-height: calc(100% - var(--nav-width) * 2);
  justify-content: center;
  padding: var(--nav-width) 3rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

#landing-id .content {
  position: relative;
  justify-content: center;
}

#canvas {
  position: absolute;
}

.border {
  height: 0.25rem;
  width: 5rem;
  background-color: var(--accent-color);
}

.external-link {
  color: var(--accent-color);
  margin: 1.5rem 0;
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.25rem;
  font-size: clamp(1.25rem, 1.2rem + 0.25vw, 1.5rem);
  line-height: 1.2;
}

/* Large screen devices */
@media only screen and (min-width: 769px) {
  /* General Style Rules */
  #logo,
  #logo img {
    width: var(--nav-width);
    height: var(--nav-width);
  }

  /* Scroll Notification */
  #scroll-notification {
    height: 18rem;
  }

  #scroll-notification span {
    height: 8rem;
  }

  #scroll-notification .vertical-bar {
    height: 10rem;
  }

  /* Navigation */
  #menu-bar {
    height: 100%;
    width: var(--nav-width);
  }

  #menu-dropdown {
    grid-area: main-content;
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
    margin-left: var(--nav-width);
    z-index: 3;
    background-color: var(--background-color);
    background-image: linear-gradient(
      -90deg,
      var(--accent-color) 0%,
      var(--background-color) 100%
    );
  }

  #menu-dropdown.active {
    width: 25%;
    transition: all 500ms;
  }

  #menu-list {
    height: calc(100% - var(--nav-height) * 2);
    padding: var(--nav-height);
  }

  /* Content */
  main {
    height: 100vh;
    width: 100vw;
    transition: all 500ms;
  }

  #menu-dropdown.active ~ main {
    margin-left: 25%;
  }

  section {
    padding: calc(var(--nav-width) * 2) calc(var(--nav-width) * 4);
    width: calc(100vw - var(--nav-width) * 8);
    min-height: calc(100vh - var(--nav-height) * 4);
    flex-direction: row;
  }

  .content,
  .additional-content {
    min-width: 50%;
    justify-content: center;
    margin-top: 0;
  }
}
